body {
    background-color: #f3a4c4;
    
}

#top {
    width: 100%;
    padding: 0px;
}

#top hr {
    width: 100%;
}

#top p {
    margin: 0px;
}

#content-box{
    border-style: solid;
    margin-left: auto;
    margin-right: 2.5%;
    aspect-ratio: 16 /6;
    width: 70%; 
    margin-bottom: 10px;
}
#logo{
    aspect-ratio: 24 /4;
    width: 80%;
    margin-left: 2.5%;
    background-color: black;
}

@media only screen and (max-width: 800px) {
    #content-box{
        aspect-ratio: 16 /38;
    }
    #logo{
        aspect-ratio: 24 /10;
    }
  }